.App {
  text-align: center;
}

.lessons {
  font-size: 100px;
  color: white;
  width: 600px;
  height: 300px;
  border-radius: 50px;
  transition: 0.1s;
  border:0 none;
  background-color: #C91C1C;
  outline: none;
}

.lessons:hover {
  font-size: 102px;
  width: 610px;
  height: 305px;
}

.lessons:active {
  font-size: 98px;
  width: 590px;
  height: 295px;
}

.back {
  display: inline-block;
  color: white;
}