@import url('https://fonts.googleapis.com/css2?family=Kosugi&family=Source+Code+Pro:wght@200&display=swap');

.App {
  text-align: center;
}

.lessons {
  font-size: 100px;
  color: white;
  width: 600px;
  height: 300px;
  border-radius: 50px;
  transition: 0.1s;
  border:0 none;
  background-color: #C91C1C;
  outline: none;
}

.lessons:hover {
  font-size: 102px;
  width: 610px;
  height: 305px;
}

.lessons:active {
  font-size: 98px;
  width: 590px;
  height: 295px;
}

.back {
  position: fixed;
  color: white;
  bottom: 30px;
  right: 70px;
  font-size: 50px;
  background-color: rgba(255, 0, 0, 0);
  outline: none;
  border: none;
  cursor: pointer;
}

::selection {
  background-color: rgb(20, 20, 20);
}

.flippy-cardContainer .flippy-card{
  display: grid;
  width: 700px;
  height: 400px;
  border-radius: 15px;
  justify-content: center;
  align-content: center;
  background-color: #000000;
}

.flippy-front, .flippy-back {
  transition-property: transform;
}

.radicals .flippy-card{
  background-color: #3BBBF1;
}

.kanjis .flippy-card{
  background-color: #FD37E9;
}

.vocab .flippy-card{
  background-color: #9236ED;
}

.flippy-front span{
  font-size: 150px;
}

.card {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 70vh;
}

.kanji {
  font-family: 'Kosugi';
}

.data {
  position: fixed;
  bottom: 0;
  left: 70px;
}

.nav {
  font-size: 0.5em;
  margin: 0;
  position: fixed;
  top: 10px;
  left: 20px;
}

.grid-container {
  position: absolute;
  right: 10%;
  left: 10%;
  top: 200px;
  bottom: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

.lesson {
  margin: 10px;
  height: 150px;
  width: 275px;
  border-radius: 35px;
  outline: none;
  border: none;
  background-color: #C91C1C;
  color: white;
  font-size: 70%;
  transition: 0.2s;
}

.lesson:hover {
  background-color: #b61313;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: white;
}

.container {
  margin-top: 30vh;
}

.hub {
  outline: none;
  border: none;
  width: 350px;
  height: 175px;
  border-radius: 50px;
  font-size: 50px;
  color: white;
  margin: 0 30px 60px 30px;
  transition: 0s;
}

.rad {
  background: #3BBBF1;
}

.rad:hover {
  background: #2da9df;
}

.kan {
  background: #FD37E9;
}

.kan:hover {
  background: #dd24cb;
}

.voc {
  background: #9236ED;
}

.voc:hover {
  background: #832cda;
}