.App {
  text-align: center;
}

.lessons {
  font-size: 100px;
  color: white;
  width: 600px;
  height: 300px;
  border-radius: 50px;
  transition: 0.1s;
  border:0 none;
  background-color: #C91C1C;
  outline: none;
}

.lessons:hover {
  font-size: 102px;
  width: 610px;
  height: 305px;
}

.lessons:active {
  font-size: 98px;
  width: 590px;
  height: 295px;
}

.back {
  position: fixed;
  color: white;
  bottom: 30px;
  right: 70px;
  font-size: 50px;
  background-color: rgba(255, 0, 0, 0);
  outline: none;
  border: none;
  cursor: pointer;
}

::selection {
  background-color: rgb(20, 20, 20);
}

.flippy-cardContainer .flippy-card{
  position: absolute;
  width: 700px;
  height: 400px;
  border-radius: 15px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: #3BBBF1;
}

.data {
  position: fixed;
  bottom: 0;
  left: 70px;
}

.nav {
  font-size: 0.5em;
  margin: 0;
  position: fixed;
  top: 10px;
  left: 20px;
}

.grid-container {
  display: flexbox;
  position: absolute;
  right: 10%;
  left: 10%;
  top: 200px;
  bottom: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

.lesson {
  margin: 10px;
  height: 150px;
  width: 275px;
  border-radius: 35px;
  outline: none;
  border: none;
  background-color: #C91C1C;
  color: white;
  font-size: 70%;
  transition: 0.2s;
}

.lesson:hover {
  background-color: #b61313;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: white;
}